.topnav {
    background-color: #006EB6;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    flex-wrap: wrap;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #F59B42;
    color: white;
  }
  
  .push {
    margin-right: auto;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    height: 20px;
    margin-top: 10px;
  }
  
  
  .logo {
    margin-right: auto;
    margin-left: 50px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    display: flex;
  }
  
  body {
    margin: 0;
  }
  
.container {
    display: flex;
    height: 95vh;
    width: 100%;
    flex-direction: row;
}

.left-side {
    width: 50%;
    background-color: silver;
}

.right-side {
    width: 50%;
    background-color: blanchedalmond;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}