.main_container {
    height: 94vh;
}
  
.contents {
    background-color: palegoldenrod;
    box-shadow: 0px 6px 23px -2px #000000;
    width: auto;
    text-align: left;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 3px;
}

.style {
    color: #6B9D41;
}