td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

.dataTables_wrapper {
    background-color: white;
    padding: 5px;

}

.expand_rows {
    background-color: white;
    margin-top: 50px;
    padding-top: 5px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
    width: 65%;
}

.main_container{
    height: 94vh;
}