body {
    background-image: linear-gradient(rgba(105, 102, 102, 0.5), rgba(189, 107, 107, 0.5)), url("../Images/background_image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Avenir Next, sans-serif;
}

.topnav {
    background-color: #006EB6;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    flex-wrap: wrap;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #F59B42;
    color: white;
}

.push {
    margin-right: auto;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    height: 20px;
    margin-top: 10px;
}

.logo {
    margin-right: auto;
    margin-left: 50px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    display: flex;
}

.main_container {
    display: flex;
    width: auto;
    height: 94vh;
    justify-content: center;
}

.child_container {
    display: flex;
    width: auto;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.get_started {
    color: white;
    border: 2px solid #F59B42;
    font-size: 20px;
    background-color: #F59B42;
    border-radius: 3px;
    font-weight: bold;
    transition-duration: 0.4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px 14px;
}

.get_started:hover {
    background-color: #F59B42;
    border: 2px solid black;
}

a:link {
    text-decoration: none;
}

th {
    cursor: pointer;
    color: #fff;
    background-color: #006EB6;
}

.table-striped {
    margin-top: 40px;
    width: 80%;
    height: auto;
    background-color: #fff;
    color: black;
    border: black solid 3px;
}

tr, td, table {
    height: 50px !important; 
    table-layout: fixed;
    text-align: center;
}